@model User

@{
    ViewBag.Title = "Admin";
}

<div>
    <h3>@Model.UserName</h3>

    <ul>
        <li>@nameof(Model.FirstName): @Model.FirstName</li>
        <li>@nameof(Model.LastName): @Model.LastName</li>
        <li>@nameof(Model.Email): @Model.Email</li>
        <li>@nameof(Model.PhoneNumber): @Model.PhoneNumber</li>
        <li>@nameof(Model.Birthday): @Model.Birthday</li>
        <li>@nameof(Model.CreatedAt): @Model.CreatedAt</li>
    </ul>
    <hr />
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Edit">
            <input type="submit" value="Edit" />
        </form>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
    <hr />
    <div>
        <div>
            <h2>Admin controll</h2>
        </div>
        <div>
            <form asp-area="Admin" asp-controller="Users" asp-action="Index">
                <input type="submit" value="Users" />
            </form>

            <form asp-area="Admin" asp-controller="Roles" asp-action="Index">
                <input type="submit" value="Roles" />
            </form>
        </div>
    </div>
</div>